/* Стилизация верхнего меню header*/

.header__top-up {
    display: flex;
    height: 75px;
    background-color: #222222;
    align-items: center;
}

.top-up {
    display: flex;
    width: 1600px;
    margin: 0 auto;
}

.header__top-left {
    display: flex;
    margin-left: 231px;
    margin-right: 859px;
    align-items: center;
}

.top-left-logo {
    margin-right: 41px;
}

.top-left-logo a {
    cursor: pointer;
}

.header__top-right {
    display: flex;
    align-items: center;
}

.top-right-burger {
    margin-right: 35px;
}

.top-right-user {
    margin-right: 35px;
}

/* Стилизация нижнего header */

.header__top-down {
    display: flex;
    background-color: #F1E4E6;
}

.top-down-photo {
    width: 800.58px;
    height: 764px;
}

.top-down-txt {
    display: flex;
    font-family: Lato sans-serif;
    font-size: 32px;
    align-items: center;
}

.txt-border {
    border-left: 20px solid #000;
}

.txt-brand {
    font-size: 48px;
}

.txt-fashion {
    color: #F16D7F;
}