/* Стилизация верхнего меню header*/

.header__top-up {
    display: flex;
    height: 75px;
    background-color: #222222;
    align-items: center;
}

.top-up {
    display: flex;
    width: 1600px;
    margin: 0 auto;
}

.header__top-left {
    display: flex;
    margin-left: 231px;
    margin-right: 859px;
    align-items: center;
}

.top-left-logo {
    margin-right: 41px;
}

.top-left-logo a {
    cursor: pointer;
}

.header__top-right {
    display: flex;
    align-items: center;
}

.top-right-burger {
    margin-right: 35px;
}

.top-right-user {
    margin-right: 35px;
}

/* Стилизация нижнего header */

.header__top-down {
    display: flex;
    background-color: #F1E4E6;
}

.top-down {
    display: flex;
    width: 1600px;
    height: 764px;
    margin: 0 auto;
}

.top-down-photo {
    width: 800px;
}

.top-down-txt {
    display: flex;
    width: 800px;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    align-items: center;
    padding-left: 64px;
}

.txt-border {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    line-height: normal;
}

.txt-border::before {
    content: " ";
    display: block;
    height: 92px;
    border-left: 12px solid #F16D7F;
    padding-left: 13px;
    float: left;
}

.txt-right {
    display: flex;
    flex-direction: row;
}

.txt-brand {
    font-size: 48px;
}

.txt-fashion {
    color: #F16D7F;
}

/* Стилизация блока main */

.main {
    display: grid;
    justify-content: center;
    margin-top: 65px;
}

.main__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1140px;
    justify-items: center;
    gap: 30px;
}

.item4 {
    grid-column: 1/4;
}

.f-items-top {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-items-top-h1 {
    font-size: 30px;
}

.f-items-top-txt {
    margin-top: 6px;
    font-size: 14px;
    color: #9F9F9F
}

.f-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 48px;
}

.f-item {
    max-width: 360px;
    height: 581px;
    background-color: #F8F8F8;
}

.f-item-style {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
    padding-left: 16px;
    padding-right: 28px;
}

.f-item-style>h3 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.f-item-style>p {
    color: #5D5D5D;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.f-item-price {
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}